.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 51;
    padding: 100px 60px 60px;

    @media (min-width: 576px) {
      top: 50%;
      left: 50%;
      width: 550px;
      height: auto;
      min-height: 550px;
      transform: translate(-50%, -50%);
    }
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: #000;
  }

  &__close {
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }

  &__toggle-form {

  }
}
