.intro {
  &__background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $primary;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(20, 50, 50, 0.5);
    }
  }

  &__title {
    color: #fff;
    position: relative;
    z-index: 2;
    font-weight: 700;
  }
}
