.list-item {
  border: 1px solid $border-color;
  display: flex;
  color: $body-color;
  max-width: 800px;
  margin: 0 auto 16px;
  min-height: 100px;
  background-color: #fff;

  @media (min-width: 768px) {
    min-height: 200px;
  }

  &:hover, &:focus {
    text-decoration: none;
    color: $body-color;
  }

  &__icon-photo {
    font-size: 50px;
    color: $primary;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__image-container {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    @media (min-width: 768px) {
      width: 300px;
    }
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &__description {
    width: 500px;
  }

  &__review {
    resize: none;
    overflow: auto;
    border: 1px solid $border-color;
    padding: 10px;

    &:hover, &:focus {
      outline: none;
    }
  }

  &__author {
    width: 100px;
    border: 1px solid $border-color;
    padding: 10px;

    &:hover, &:focus {
      outline: none;
    }
  }

  &__title {
    text-align: left;
    font-size: 20px;

    @media (min-width: 768px) {
      font-size: 30px;
    }
  }

  &__location {
    text-align: left;
    color: $text-muted;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
}