//https://loading.io/css/

.loading-ring {
  display: flex;
  align-items: center;
  margin: 16px 0 0 0;
  justify-content: center;

  @media(min-width: 768px) {
    margin-top: 0;
    margin-left: 16px;
    justify-content: start;
  }

  &--center {
    @media(min-width: 768px) {
      justify-content: center;
    }
  }

  &__inner {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 2px solid $primary;
    border-radius: 50%;
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  &--big {
    width: 100px;
    height: 100px;

    div {
      width: 80px;
      height: 80px;
    }
  }

  }
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
