.modal {
  &__gradient {
    background-color: rgba(#000, 0.5);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
  }

  &-dialog {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;
  }
}