//$primary: #1abc9c;
$primary: #00a680;
$btn-border-radius: 4rem;
$btn-padding-y: 0.25rem;
$btn-padding-x: 0.8rem;
$btn-font-size: 0.9rem;
$btn-border-radius: 4px;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.cursor-pointer {
  cursor: pointer;
}
